<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Rmndfl</title>

   <link rel="shortcut icon" href="img/favicon-chat.png" />
   <!-- Import Google Fonts -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,700" rel="stylesheet">
   <!-- Import materialize.css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <!-- Import custom css -->
   <link rel="stylesheet" href="css/style.css">

   <style>
      [v-cloak] {
         display: none;
      }
   </style>
</head>

<body>
   <div id="rmndfl-app">
      <div class="row">

         <!-- users column -->
         <div class="col s3">
            <!-- Welcome comp 
            <welcome-component v-bind:email="email"></welcome-component> -->

            <!-- active users component-->
             <!-- <users-component v-bind:email="users"></users-component> -->

            <!-- start user join -->
            <div class="user-login" v-show="!loggedIn">
               <input v-model="email" placeholder="name" type="text" class="u-full-width">
               <button v-on:click="joinUser" :disabled="!email" class="btn-small waves-effect waves-light" type="submit">
                  Login as Admin
               </button>

               <p v-show="unsuccessful" class="failed">
                   *Sorry, the email {{email}} is incorrect.
               </p>

            </div>
            <!-- end user join -->
         </div>


         <!-- message box column-->
         <div class="col s9">

            <!-- chat box 
            <chat-component v-bind:content="messages"></chat-component>
            -->

            <!-- start form to send new message to chat box -->
            <div class="controls" class="field has-addons">
               <input v-model="number" placeholder="type in number" type="text" class="u-full-width">
               <button v-on:click="customerSignUp" :disabled="!number" class="btn-small waves-effect waves-light" type="submit">
                  <i class="material-icons left">send</i>Send
               </button>
            </div>
            <!-- end form to send new message to chat box -->

         </div>

      </div>
   </div>

   <script type="text/javascript" src="https://unpkg.com/vue@2.5.15/dist/vue.min.js"></script>
   <script type="text/javascript" src="https://unpkg.com/socket.io-client@2.1.0/dist/socket.io.js"></script>
   <script type="text/javascript" src="app.js"></script>
</body>

</html>